body {
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 20px;
}

.faq-sec {
  padding-block: 50px;
}

.faq-text {
  font-size: 20px;
}

.faq-content-title {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  width: fit-content;
}

.faq-wrap {
  border-bottom: 1px solid rgba(0, 0, 0, 0.335);
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.faq-content {
  padding-left: 40px;
  font-size: 18px;
  line-height: 1.8;
  font-weight: 400;
}

.faq-title {
  text-align: center;
  font-size: 60px;
  margin-bottom: 50px;
}

.text-blue {
  color: #00ac8d;
}

.plus-img {
  width: 25px;
  height: 25px;
  transition: all 0.4s ease-in-out;
  filter: brightness(0) saturate(100%) invert(63%) sepia(83%) saturate(5993%)
    hue-rotate(145deg) brightness(101%) contrast(101%);
}

.active .plus-img {
  transform: rotate(45deg);
}

.plus-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

.faq-item.active .faq-answer {
  opacity: 1;
}
